.App {
  text-align: center;
}

.container {
  display: flex;
  height: 70vh;
}

.labels {
  width: 20vw;
  height: inherit;
  overflow: scroll;
}

.chart {
  width: 80vw;
}

option:hover {
  cursor: pointer;
  font-weight: bold;
}

option.selected {
  cursor: pointer;
  background: #accef7;
}

.andFilter{
  margin-bottom: 1rem;
}
