.repo-info {
  height: 2rem;
  font-size: 2rem;
  width: 100vw;
  margin: 1rem 0;
  display: inline-flex;
  justify-content: center;
}

.repo-info > input {
  width: 35%;
  margin-right: 2rem;
}

.status {
  text-align: center;
}

.container {
  display: flex;
  height: 70vh;
}

.labels {
  width: 20vw;
  height: inherit;
  overflow: scroll;
}

.chart {
  width: 80vw;
}

option:hover {
  cursor: pointer;
  font-weight: bold;
}

option.selected {
  cursor: pointer;
  background: #accef7;
}

.andFilter{
  margin-bottom: 1rem;
}
